<ul class="list-group">
  <% @lists.each do |list| %>
    <li class="list-group-item">
      <strong>
        <%= link_to list.title, list %>
      </strong>
      <span class="pull-right">Tasks: <%= list.items.count %> </span>
    </li>
  <% end %>
</ul>
